{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}REP{% endblock title %}

{% block content %}
<div id="app" v-cloak>
    <form method="post">
        <div class="card border-dark mb-3">
            <div class="card-header">
                <h2>Comprobante Pago</h2>        
            </div>
            <br>    
            {% csrf_token %}            
            <div class="columns p-2">
                <div class="column is-8">
                    <ul class="nav nav-pills -mb-3" id="pills-tab" role="tablist">
                        <!--GENERALES-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">                            
                                Generales
                            </button>                            
                        </li>
                        <!--END GENERAL-->

                        <!--TOTALES-->
                        <li class="nav-item" role="presentation">                
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                Receptor / Emisor
                            </button>
                        </li>
                        <!--END TOTALES-->

                        <!--CFDI-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                CFDI
                            </button>
                        </li>
                        <!--END CFDI-->

                        <!--Receptor/Emisor-->
                        <li class="nav-item" role="presentation">
                            <button @click="lod(CFDI_Rel_id,$event)" class="nav-link" id="pills-receptor-tab" data-bs-toggle="pill" data-bs-target="#pills-receptor" type="button" role="tab" aria-controls="pills-receptor" aria-selected="false">
                                Docuemento Relacionado
                            </button>
                        </li>
                        <!--END Receptor/Emisor-->

                        <!--Dcto Relacionados-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-rela-tab" data-bs-toggle="pill" data-bs-target="#pills-rela" type="button" role="tab" aria-controls="pills-rela" aria-selected="false">
                                Tab 5
                            </button>
                        </li>
                        <!--END Dcto Relacionados-->
                    </ul>
                    <br>
                    <div class="tab-content" id="pills-tabContent">
                        <!--GENERALES-->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            
                            <div class="row p-3">
                                <div class="col">
                                    {% render_field form.NumPago.label %}
                                    {% render_field form.NumPago placeholder=form.NumPago.label class+="form-control"  type="text" %}
                                </div>
                                <div class="col">
                                    {% render_field form.Serie.label %}
                                    {% render_field form.Serie placeholder=form.Serie.label class+="form-control"  type="text" %}
                                </div>
                                <div class="col">
                                    {% render_field form.Folio.label  %}
                                    {% render_field form.Folio placeholder=form.Folio.label class+="form-control"  type="text" %}
                                </div>
                                <div class="col">
                                    {% render_field form.Fecha.label %}
                                    {% render_field form.Fecha placeholder=form.Fecha.label class+="form-control"  type="date" %}
                                </div>
                                <div class="col">
                                    {% render_field form.LugarExpedicion.label  %}
                                    {% render_field form.LugarExpedicion placeholder=form.LugarExpedicion.label class+="form-control"  type="text" %}
                                </div>
                                <div class="col">
                                    {% render_field form.Exportacion.label  %}
                                    {% render_field form.Exportacion placeholder=form.Exportacion.label class+="form-control"  type="text" %}
                                </div>
                            </div>
                            
                        </div>
                        <!--END GENERALES-->

                        <!--RECEPTOR / EMISOR-->
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <!--RECEPTOR-->
                            <div class="card border-dark p-3">
                                <div class="card-header">
                                    <h5 style="text-align: center;"><strong>RECEPTOR:</strong></h5>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="{{form.Rfc_Rec.id_for_label }}"><strong>RFC:</strong></label>
                                        {% render_field form.Rfc_Rec placeholder=form.Rfc_Rec.label autocomplete="off" aria-label="id_Rfc_Rec" list="RfcRec" @keyup="get_c_Clientes($event, false)" class+="form-control" type="text" %}
                                        <datalist  id="RfcRec">
                                            <option autocomplete="off" v-for="c_Cliente in c_ClienteS" v-bind:value="c_Cliente.RFC">
                                                [[ c_Cliente.RFC ]]-[[ c_Cliente.Nombre ]]
                                            </option>
                                        </datalist>
                                    </div>
                                    <div class="col">
                                        <label for="{{form.UsoCFDI_Rec.id_for_label }}"><strong>USO:</strong></label>
                                        {% render_field form.UsoCFDI_Rec placeholder=form.UsoCFDI_Rec.label class+="form-select"  type="text" %}
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col">
                                        <label for="{{form.Nombre_Rec.id_for_label }}"><strong>Nombre:</strong></label>
                                        {% render_field form.Nombre_Rec placeholder=form.Nombre_Rec.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.RegimenFiscal_Rec.id_for_label }}"><strong>Regimen Fiscal:</strong></label>
                                        {% render_field form.RegimenFiscal_Rec placeholder=form.RegimenFiscal_Rec.label class+="form-select"  type="text" %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="{{form.DomicilioFiscal_Rec.id_for_label }}"><strong>Domicilio Fiscal:</strong></label>
                                        {% render_field form.DomicilioFiscal_Rec placeholder=form.DomicilioFiscal_Rec.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.ResidenciaFiscal_Rec.id_for_label }}"><strong>Recidencia Fiscal:</strong></label>
                                        {% render_field form.ResidenciaFiscal_Rec placeholder=form.ResidenciaFiscal_Rec.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.NumRegIdTrib_Rec.id_for_label }}"><strong>ID Tributario(Tax Id):</strong></label>
                                        {% render_field form.NumRegIdTrib_Rec placeholder=form.NumRegIdTrib_Rec.label class+="form-control"  type="text" %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!--EMISOR-->
                            <div class="card border-dark p-3">
                                <div class="card-header">
                                    <h5 style="text-align: center;"><strong>Emisor:</strong></h5>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="{{form.Rfc_Emi.id_for_label }}"><strong>RFC:</strong></label>
                                        {% render_field form.Rfc_Emi placeholder=form.Rfc_Emi.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.Nombre_Emi.id_for_label }}"><strong>Nombre:</strong></label>
                                        {% render_field form.Nombre_Emi placeholder=form.Nombre_Emi.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.RegimenFiscal_Emi.id_for_label }}"><strong>Regimen Fiscal:</strong></label>
                                        {% render_field form.RegimenFiscal_Emi placeholder=form.RegimenFiscal_Emi.label class+="form-select"  type="text" %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--END RECEPTOR / EMISOR-->

                        <!--CFDI-->
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="card border-dark p-3">
                                <div class="card-header">
                                    <h5 style="text-align: center;"><strong>Datos del CFDI:</strong></h5>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="{{form.TipoDeComprobante.id_for_label }}"><strong>Tipo Comprobante:</strong></label>
                                        {% render_field form.TipoDeComprobante|append_attr:"readonly:readonly" placeholder=form.TipoDeComprobante.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.Version.id_for_label }}"><strong>Versión:</strong></label>
                                        {% render_field form.Version|append_attr:"readonly:readonly" placeholder=form.Version.label class+="form-control"  type="text" %}
                                    </div>
                                    <div class="col">
                                        <label for="{{form.UUID.id_for_label }}"><strong>UUID:</strong></label>
                                        {% render_field form.UUID|append_attr:"readonly:readonly" autocomplete="off" placeholder=form.UUID.label class+="form-control"   type="text" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END CFDI-->

                        <div class="tab-pane fade" id="pills-receptor" role="tabpanel" aria-labelledby="pills-receptor-tab">
                            <div class="card border-dark p-3">
                                <div class="card-header">
                                    <h5 style="text-align: center;"><strong>Documento Relacionado:</strong></h5>
                                </div>
                                <div class="col">
                                    
                                    <div class="">                        
                                        
                                        
                                        <div class="col-2">        
                                            <a  @click="checkDR" id="addDR" class="btn btn-primary" >Agregar Documento Relacionado</a>
                                        </div>
                                        <!--Modal add DR-->
                                        {% include "REP/addDR_modal.html" %}

                                        <!--Apartado para documentos relacionado pago-->
                                        <div v-if="numDR >0">
                                            <table class="table" >
                                                <thead class="thead-dark">            
                                                    <tr>
                                                        <th scope="col">UUID</th>
                                                        <th scope="col">Relacion</th>                
                                                    </tr>
                                                </thead>
                                                <tbody>                                
                                                    <tr class="item-row" v-for="(DR,i) in aTipoRelacionS" :key="i">  
                                                        <th scope="row" >[[ DR.UUID ]]</th>
                                                        <td>[[ DR.TipoRelacion ]]</td>  
                                                        <td>
                                                            <div class="btn-group">
                                                                <a @click="LoadUUID(DR.id, DR.UUID, DR.TipoRelacion)" data-bs-toggle="modal" data-bs-target="#updateDRModal" class="btn btn-outline-primary">Editar</a>
                                                                <a @click="BorraDR(DR.id)" id="delete-btn" class="btn btn-danger not-visible" >Borrar</a>
                                                            </div>                        
                                                        </td>                           
                                                    </tr>                    
                                                </tbody>
                                            </table>
                                            <!--END VUE TABLE-->
                                        </div>
                                        <div v-else>
                                            <span><strong>No hay documentos relacionados </strong></span>                                            
                                        </div>                                                                                
                                    </div>                                    
                                </div>
                                {% include "REP/PagoDR_List_modal.html" %}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-rela" role="tabpanel" aria-labelledby="pills-rela-tab">
                            {% block block_tab5 %}{% endblock block_tab5 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %} 
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }} </strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="mt-3 mb-5 row">
            <div class="col-3">
                <button type="submit" class="px-5 btn btn-success">Guardar Comprobante</button>
            </div>
            <div class="col-3">
                <a href="{% url 'compPagos_list' %}" class="px-5 btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Lista REP</a>
            </div>
            
        </div>
        {% if pago_inline_formset %}
        {{ pago_inline_formset.non_form_errors }}             
            {% include "REP/InlinePagosForm.html" %}
        {% endif %}
    </form>

    
    {% if not pago_inline_formset %}
        {% include "REP/tableInlinePagos.html" %}
    {% endif %}
              

            
    
</div>
{% endblock content %}
{% block scripts %}
<script>
    const app = Vue.createApp({
        el:'#app',
        delimiters:['[[',']]'],
        data(){
            return{
                c_ClienteS:[],
                c_Cliente:{},
                Ingreso:{},
                IngresoS:[],
                aDocRel:{},
                numDR: 0,
                c_TipoRelS:[],
                c_TipoRel:{},
                CFDI_Rel_id:'',
                TipoRel:'',
                UUID: '',
                SelectedRow:[],
                aTipoRelacionS:[],
                aTipoRelacion:{},
            }
        },
        mounted(){
            this.created()
        },
        
        methods: {
            created(){
                this.get_c_TipoRelacion()
                this.CFDI_Rel_id = '{{id}}'
                this.LoadDR_Comp(this.CFDI_Rel_id)
            },
            checkDR(){
                if(this.numDR>0){
                    return alert('El REP ya cuenta con documento relacionado, eliminelo para agregar uno nuevo')
                }
            },
            dismissAddDR(){
                this.UUID=""
                this.SelectedRow=[]
                this.IngresoS={}
                this.TipoRel=''

            },
            hasRemo(){
                const one = document.querySelector('.table')
                    const rows = one.querySelectorAll("tr.item-row")
                    rows.forEach((el)=>{
                        this.IngresoS=''
                        this.SelectedRow = []                        
                        el.removeAttribute("style")
                    })
            },
            selectrow(){
                
                if (this.SelectedRow.length == 0){
                    return alert('No seleccionado')
                }
                this.UUID = this.SelectedRow.UUID
                console.log('Row selected ',this.SelectedRow)
                closeList.click()
            },
            cl(e,IN){
                const r = document.getElementById(IN.UUID)
                    const at = r.hasAttribute("style")
                    const one = document.querySelector('.table')
                    const rows = one.querySelectorAll("tr.item-row")
                    this.SelectedRow = []
                    rows.forEach((el)=>{
                        //console.log(r.id== el.id)
                        
                        if(r.id == el.id && !at){
                            el.setAttribute("style", "background-color: gray;")
                            this.SelectedRow = IN

                            return this.SelectedRow
                        }else{
                            el.removeAttribute("style")
                            
                        }
                        
                    })   
                
            },
            async addDR(id,e){
                
                let response
                let resolve
                let data
                if(this.UUID.length==0 || this.TipoRel.length==0){
                    return alert('Necesita agregar los datos ')
                }
                console.log(this.UUID , this.TipoRel)
                data = {
                    'id':id,
                    'UUID': this.UUID,
                    'TR':this.TipoRel

                }
                response = await sendRequest('/compPagos/addDR_Comp/','post',data)
                resolve = Promise.resolve(response)
                resolve.then((res)=>{
                    return res.json()
                })
                .then((data)=>{
                    console.log('data res', data['res'])
                    if(data['res']===true){
                        addDR.removeAttribute('data-bs-toggle')
                        addDR.removeAttribute('data-bs-target')
                        this.UUID=""
                        this.TipoRel=""
                        this.LoadDR_Comp(this.CFDI_Rel_id)
                    }
                })
            },
            async lod(id, e){
                
                let response
                let resolve
                console.log('id',id, e)
                if( ! id >0  ){
                    btnload.setAttribute("disabled", "")
                    id_UUID.setAttribute("disabled", "")
                    
                    return  alert('Primero Guarde el Pago para cargar los DR')
                }else{
                    if( ! this.numDR >0 ){
                        addDR.setAttribute('data-bs-toggle', 'modal')
                        addDR.setAttribute('data-bs-target',"#addDRModal")    
                    }
                }

            },            
            async loadDR(){
                let id = '{{id}}'
                let response
                console.log(id.length)
                if(id != 'None' || id.length >0 ){
                    response = await sendRequest(`/compPagos/seekdrPago/?id=${id}&mod=true`, 'get')
                    let resolve = Promise.resolve(response)
                    resolve.then((res)=>{
                        return res.json()
                    })
                    .then((data)=>{
                        console.log('res',data['res'])
                        this.IngresoS=data["res"]                        
                    })
                }
            },
            async LoadDR_Comp(id){
                let response
                let resolve
                console.log(id)
                if (id===''){
                    return
                }
                response  = await sendRequest(`/compPagos/addDR_Comp/?id=${id}`,'get')
                resolve = Promise.resolve(response)
                resolve.then((res)=>{
                    return res.json()
                })
                .then((data)=>{
                    this.aTipoRelacionS = data["res"]
                    this.numDR = this.aTipoRelacionS.length
                })
                .catch((err)=>{
                    this.numDR = this.aTipoRelacionS.length
                })
                //this.aTipoRelacionS=
            },
            async get_c_Clientes(event, bool){
                let response
                let el
                //console.log('event.target',event.target.value)                
                response = await sendRequest(`/Clientes/c_ClientesView/?RFC=${event.target.value}`,'get')
                let resolve = Promise.resolve(response)
                resolve.then((res)=>{
                    return res.json()
                })
                .then((data)=>{
                    
                    this.c_ClienteS = data["Clientes"]
                    el = Object.values(data["Clientes"]).find((RFC)=>{
                        return RFC.RFC===event.target.value
                    })
                    console.log(el) 
                    if(el !=undefined ){
                        console.log('ONTOy ',this.Nombre_Rec, el)
                        id_RegimenFiscal_Rec.value  =el.Regimen
                        id_Nombre_Rec.value         = el.Nombre                            
                        id_DomicilioFiscal_Rec.value= el.Domicilio
                        id_ResidenciaFiscal_Rec.value = el.Recidencia
                        id_NumRegIdTrib_Rec.value    = el.Tax_id
                        
                    }
                })

            },
            async get_c_TipoRelacion(){
                let response = await sendRequest('/cats/c_TipoRelacionView/', 'get')
                let resolve = Promise.resolve(response)
                resolve.then((res)=>{
                    return res.json()
                })
                .then((data)=>{
                    return this.c_TipoRelS = data["TipoRel"]
                })
                

            },
        },
    })
    app.mount('#app')
</script>
{% endblock scripts %}