{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Pago{% endblock title %}

{% block content %}

<div id="app">
    <div style="display:none;" id="alert" class="alert alert-success" role="alert">
        <div class="modal-header">             
            <h5 class="alert-title" >se guardo con exito!</h5>
            <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        
    </div>
    <form @submit=check($event)  method="post">
        {% csrf_token %}
        <div class="card border-dark mb-3">
            <div class="card-header">
                <h2>Pago </h2>       
            </div> 
            <div class="row p-3">
            
                <div class="col">
                    <label for="{{form.FechaPago.id_for_label }}"><strong>Fecha del Pago:</strong></label>
                    {% render_field form.FechaPago placeholder=form.FechaPago.label class+="form-control"  type="date" %}
                </div>
                <div class="col">
                    <label for="{{form.FormaDePagoP.id_for_label }}"><strong>Forma de Pago:</strong></label>
                    {% render_field form.FormaDePagoP   placeholder=form.FormaDePagoP.label class+="form-select"   type="text" %}
                </div>
                <div class="col">
                    <label for="{{form.MonedaP.id_for_label }}"><strong>Moneda:</strong></label>
                    {% render_field form.MonedaP placeholder=form.MonedaP.label class+="form-control"  type="text" %}
                </div>
                <div class="col">
                    <label for="{{form.TipoCambioP.id_for_label }}"><strong>Tipo Cambio:</strong></label>
                    {% render_field form.TipoCambioP placeholder=form.TipoCambioP.label class+="form-control"  type="number" %}
                </div>
                <div class="col">
                    <label for="{{form.Monto.id_for_label }}"><strong>Monto:</strong></label>
                    {% render_field form.Monto placeholder=form.Monto.label class+="form-control"  type="number" %}
                </div>
                <div class="">
                    
                    {% render_field form.CompPago|append_attr:"hidden:hidden" placeholder=form.CompPago.label class+="form-select"  type="select" %}
                </div>
            </div>

        </div> 
        <div class="mt-3 mb-5 row">
            <div class="col-3">
                <button type="submit" class="px-5 btn btn-success"><i class="fa fa-check"></i>  Guardar Pago</button>
            </div>
            <div class="col-3">                
                <a  href="{% url 'compPagos_update' idComp %}" class="px-5 btn btn-outline-primary"><i class="fa fa-arrow-circle-left"></i> ir a comprobante</a>
            </div>
            
        </div>
        
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %} 
                {{field.name}}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </form>

    <div class="card border-dark mb-3">
        <div class="card-header">
            <h2>Documentos Relacionados</h2>       
        </div> 
        <div class="row p-2">
            <div class="col" >                                                    
                <a class="btn btn-primary float-right" 
                {% if obj %} 
                    href="{% url 'PagosAddDR_create' obj %}" 
                {% else %} 
                    href="#" 
                    @click="ale()"
                {% endif %}>
                Agregar Documento Relacionado</a>

            </div>
        </div>
        <br>
        
        {% if DRs %}                                
        <table class="table">
            <thead class="thead-dark">        
                <tr>
                    <th scope="col">UUID</th>
                    <th scope="col">Folio</th>                    
                    <th scope="col">Parcialidad</th>
                    <th scope="col">Importe Pagado</th>
                    
                    <th scope="col">Saldo Insoluto</th>
                    <th scope="col">Saldo Anterior</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dr in DRs %}
                    <tr id="{{dr.id}}">
                        <td>{{dr.IdDocumento}}</td>
                        <td>{{dr.Folio}}</td>                        
                        <td>{{dr.NumParcialidad}}</td>
                        <td class="ImportePagado">{{dr.ImpPagado}} {{dr.MonedaDR}} </td>
                        
                        <td>{{dr.ImpSaldoInsoluto}}</td>
                        <td>{{dr.ImpSaldoAnt}}</td> 
                        <td>
                            <!--a  @click="dr({{dr.id}}, '{{dr.IdDocumento}}'); Saldo('{{formDR.Pago_rel.value}}', '{{dr.IdDocumento}}');" href="#{{dr.id}}" data-bs-toggle="modal" data-bs-target="#drUpdateModal{{dr.id}}" class="btn btn-outline-primary">Update</a-->
                            <a href="{% url 'PagoDR_update' dr.id %}" class="btn btn-outline-primary" > Editar</a>
                            
                        </td>
                        <td><a  data-bs-toggle="modal" data-bs-target="#deleteModal{{dr.id}}" class="btn btn-outline-danger p-2">Borrar</a></td>
                        <td>
                            {% comment %}
                            {% include "REP/pagoDR_updateModal.html" %}  
                            {% endcomment %}
                            
                            {% include "REP/doctoRelacionado_DeleteModal.html" %}
                        </td>

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>



</div>
{% endblock content %}
{% block scripts %}
<script>
    const app = Vue.createApp({
        el:'#app',
        delimiters:['[[',']]'],
        data(){
            return{
                idDelete: '',
                pago:{},
                Ingreso:{},
                IngresoS:[],
                SelectedRow:[],
                id:'',
                dr_UUID:'',
                saldo:[],
            }
        },
        mounted(){

        },
        methods: {
            async Saldo(a, b){
                console.log(a,b)
                let response = await sendRequest(`/compPagos/checarSaldoPago/?id=${b}&pago=${a}&mod=true`, 'get')
                let resolve =  Promise.resolve(response)
                    resolve.then(res=> {
                        return res.json()
                })
                .then(data=>{
                    this.saldo = data['res']
                })
            },
            hasRemo(){
                    
                const one = document.querySelector('.table')
                const rows = one.querySelectorAll("tr.item-row")
                rows.forEach((el)=>{
                    this.IngresoS=''
                    this.SelectedRow = []                        
                    el.removeAttribute("style")
                })
            },
            async selectrow(){
                
                
                if (this.SelectedRow.length == 0){
                    return alert('No seleccionado')
                }
                const pago = '{{formDR.Pago_rel.value}}'
                console.log('this.SelectedRow',this.SelectedRow)
                id_Folio.value      = this.SelectedRow.Folio
                id_Serie.value      = this.SelectedRow.Serie
                id_MonedaDR.value   = this.SelectedRow.Moneda
                id_IdDocumento.value= this.SelectedRow.UUID
                
                let response = await sendRequest(`/compPagos/checarSaldoPago/?id=${this.SelectedRow.UUID}&pago=${pago}`, 'get')
                let resolve =  Promise.resolve(response)
                resolve.then(res=> {
                    return res.json()
                })
                .then(data=>{
                    this.saldo = data['res']
                    console.log(data['res'])
                    if(data['res']==='El docuemento relacionado ya esta dado de alta en este pago'){
                        id_Folio.value      = ''
                        id_Serie.value      = ''
                        id_MonedaDR.value   = ''
                        id_IdDocumento.value= ''
                        return alert(data['res'])
                    }else{
                        id_NumParcialidad.value = data['res'].NumParcialidad
                        if(Object.entries(this.saldo).length > 1){
                            id_ImpSaldoAnt.value = parseFloat(data['res'].ImpSaldoAnt).toFixed(6)
                            id_ImpSaldoInsoluto.value =  parseFloat(data['res'].ImpSaldoInsoluto).toFixed(6)
                            return this.pago = data['res'].pago
                        }
                    }
                    
                })
                .catch((error)=>{
                    console.error('error',error['res'])
                    
                })
                closeList.click()
                
                

            },
            cl(e, IN){
                //console.log(IN, e)
                const r = document.getElementById(IN.UUID)
                const at = r.hasAttribute("style")
                const one = document.querySelector('.table')
                const rows = one.querySelectorAll("tr.item-row")
                this.SelectedRow = []
                rows.forEach((el)=>{
                    //console.log(r.id== el.id)
                    
                    if(r.id == el.id && !at){
                        el.setAttribute("style", "background-color: gray;")
                        this.SelectedRow = IN
                        console.log('this.SelectedRow ',this.SelectedRow)
                        return this.SelectedRow
                    }else{
                        el.removeAttribute("style")
                        
                    }
                    
                })                                        
            },
            async loadDR(){
                let id = '{{formDR.Pago_rel.value}}'    
                console.log('id',id)      
                if (id !='None'){
                    let response = await sendRequest(`/compPagos/seekdrPago/?id=${id}`, 'get')
                    let resolve = Promise.resolve(response)
                    resolve.then(res=>{
                        return res.json()
                    })
                    .then((data)=>{
                        console.log('ayayaya',data)
                        this.IngresoS=data["res"]
                    })
                }          
                
            },
            checkPago(e){

            },
            async calculaPago(e,dr_id, IdDocumento){
                
                console.log(this.pago, '{{formDR.Pago_rel.value}}' , dr_id, pago_rel)
                
                let pago_rel = '{{formDR.Pago_rel.value}}'
                
                let response = await sendRequest(`/compPagos/checarSaldoPago/?id=${IdDocumento}&pago=${pago_rel}&mod=true`, 'get')
                let resolve =  Promise.resolve(response)
                resolve.then(res=> {
                    return res.json()
                })
                .then(data=>{
                    console.log('saldo ',data)
                    let id_ImpSaldoAnt = document.getElementById('id_ImpSaldoAnt')
                    let id_NumParcialidad = document.getElementById('id_NumParcialidad')
                    let id_ImpSaldoInsoluto =document.getElementById('id_ImpSaldoInsoluto')                    
                    
                })
                .catch((error)=>{
                    console.error('error',error['res'])
                    
                })
                console.log('this.pago ',this.pago)
                id_ImpSaldoInsoluto.value = id_ImpSaldoAnt.value - id_ImpPagado.value
                id_ImpSaldoInsoluto.value = parseFloat(id_ImpSaldoInsoluto.value).toFixed(6)
                if (this.pago.MonedaP==="MXN" && id_MonedaDR.value==="USD")
                {
                    equi = (this.pago.Monto / this.pago.TipoCambioP) / this.pago.Monto
                    id_EquivalenciaDR.value = parseFloat(equi).toFixed(6)
                }else if (this.pago.MonedaP==="USD" && id_MonedaDR.value==="MXN")
                {
                    id_EquivalenciaDR.value = parseFloat(this.pago.TipoCambioP).toFixed(6)
                }else{
                    id_EquivalenciaDR.value = parseFloat(1).toFixed(6)
                }
                
            },
            ale(){
                alert("Guarde el Pago antes de agregar  DR")
            },
            async check(e){
                
                const impPag = document.querySelectorAll('td.ImportePagado')                            
                const crea = "createPago" == window.location.pathname.split('/').find((el) => el =="createPago") ? true : false
                let suma = 0                                
                impPag.forEach((ele)=>{
                    let innele = ele.innerText.split(" ")
                    //console.log(innele)
                    if(id_MonedaP.value==="MXN"){
                        suma += innele[1]==="USD" ? parseFloat(innele[0] * id_TipoCambioP.value) : parseFloat(innele[0])
                    }else{
                        suma += innele[1]==="MXN" ? parseFloat(innele[0] / id_TipoCambioP.value) : parseFloat(innele[0])
                    }
                    //suma += parseFloat(ele.innerText)                                        
                })
                console.log('suma ',suma)                
                console.log('crea ',crea)
                if (!crea){
                    if (suma ==0 || suma != id_Monto.value ){
                        alert(`La suma de los DR $${parseFloat(suma).toFixed(6)} no es igual al monto del Pago $${parseFloat(id_Monto.value).toFixed(6)}. \n\rFavor agrega al menos un documento relacionado y/o reducir el monto total del pago \n\ro reducir el importe pagado de los documentos relacionados`)
                        e.preventDefault()
                        return
                    }
                }       
                document.getElementById('alert').removeAttribute("style")                
            },
            async dr(dr_id, UUID){
                console.log('dr method', dr_id, UUID)
                this.id = dr_id
                this.dr_UUID = UUID
                let response = await sendRequest(`/compPagos/updatePago/${dr_id}`, 'get')
                let resolve =  Promise.resolve(response)
                resolve.then(res=> {
                    return res.json()
                })
                .then(data=>{
                    const el = data['res'][0]
                    //console.log(el)
                    const form = document.getElementById("form"+dr_id)
                    
                    form.id_IdDocumento.value= el.IdDocumento
                    form.id_Serie.value = el.Serie
                    form.Folio.value = el.Folio
                    form.MonedaDR.value=el.MonedaDR
                    form.EquivalenciaDR.value= el.EquivalenciaDR
                    form.NumParcialidad.value= el.NumParcialidad
                    form.ImpSaldoAnt.value= el.ImpSaldoAnt
                    form.ImpPagado.value= el.ImpPagado
                    form.ImpSaldoInsoluto.value=el.ImpSaldoInsoluto
                })
            }
        },
    })
    app.mount('#app')
</script>
{% endblock scripts %}

