{% extends "base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Pago{% endblock title %}

{% block content %}

<div id="app">
    <div style="display:none;" id="alert" class="alert alert-success" role="alert">
        <div class="modal-header">             
            <h5 class="alert-title" >se guardo con exito!</h5>
            <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div> 
        
    </div>
    <form @submit=check($event)  method="post">
        {% csrf_token %}
        <div class="card border-dark mb-3">
            <div class="card-header">
                <h2>Pago </h2>       
            </div> 
            <div class="row p-3">
            
                <div class="col">
                    <label for="{{form.FechaPago.id_for_label }}"><strong>Fecha del Pago:</strong></label>
                    {% render_field form.FechaPago placeholder=form.FechaPago.label class+="form-control"  type="date" %}
                </div>
                <div class="col">
                    <label for="{{form.FormaDePagoP.id_for_label }}"><strong>Forma de Pago:</strong></label>
                    {% render_field form.FormaDePagoP   placeholder=form.FormaDePagoP.label class+="form-select"   type="text" %}
                </div>
                <div class="col">
                    <label for="{{form.MonedaP.id_for_label }}"><strong>Moneda:</strong></label>
                    {% render_field form.MonedaP placeholder=form.MonedaP.label class+="form-control"  type="text" %}
                </div>
                <div class="col">
                    <label for="{{form.TipoCambioP.id_for_label }}"><strong>Tipo Cambio:</strong></label>
                    {% render_field form.TipoCambioP placeholder=form.TipoCambioP.label class+="form-control"  type="number" %}
                </div>
                <div class="col">
                    <label for="{{form.Monto.id_for_label }}"><strong>Monto:</strong></label>
                    {% render_field form.Monto placeholder=form.Monto.label class+="form-control"  type="number" %}
                </div>
                <div class="">
                    
                    {% render_field form.CompPago|append_attr:"hidden:hidden" placeholder=form.CompPago.label class+="form-select"  type="select" %}
                </div>
            </div>

        </div> 
        <div class="mt-3 mb-5 row">
            <div class="col-3">
                <button type="submit" class="px-5 btn btn-success"><i class="fa fa-check"></i>  Guardar Pago</button>
            </div>
            <div class="col-3">                
                <a  href="{% url 'compPagos_update' idComp %}" class="px-5 btn btn-outline-primary"><i class="fa fa-arrow-circle-left"></i> ir a comprobante</a>
            </div>
            
        </div>
        
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %} 
                {{field.name}}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </form>

    <div class="card border-dark mb-3">
        <div class="card-header">
            <h2>Documentos Relacionados</h2>       
        </div> 
        <div class="row p-2">
            <div class="col" >                                                    
                <a class="btn btn-primary float-right" 
                {% if obj %} 
                    href="{% url 'PagosAddDR_create' obj %}" 
                {% else %} 
                    href="#" 
                    @click="ale()"
                {% endif %}>
                Agregar Documento Relacionado</a>

            </div>
        </div>
        <br>
        
        {% if DRs %}                                
        <table class="table">
            <thead class="thead-dark">        
                <tr>
                    <th scope="col">UUID</th>
                    <th scope="col">Folio</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Parcialidad</th>
                    <th scope="col">Importe Pagado</th>
                    <th scope="col">Saldo Insoluto</th>
                    <th scope="col">Saldo Anterior</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dr in DRs %}
                    <tr id="{{dr.id}}">
                        <td>{{dr.IdDocumento}}</td>
                        <td>{{dr.Folio}}</td>
                        <td>{{dr.MonedaDR}}</td>
                        <td>{{dr.NumParcialidad}}</td>
                        <td class="ImportePagado">{{dr.ImpPagado}}</td>
                        <td>{{dr.ImpSaldoInsoluto}}</td>
                        <td>{{dr.ImpSaldoAnt}}</td> 
                        <td><a @click="dr({{dr.id}})" href="#{{dr.id}}" data-bs-toggle="modal" data-bs-target="#drUpdateModal{{dr.id}}" class="btn btn-outline-primary">Update</a></td>
                        <td>
                            {% include "REP/pagoDR_updateModal.html" %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>



</div>
{% endblock content %}
{% block scripts %}
<script>
    const app = Vue.createApp({
        el:'#app',
        delimiters:['[[',']]'],
        data(){
            return{

            }
        },
        mounted(){

        },
        methods: {
            ale(){
                alert("Guarde el Pago antes de agregar  DR")
            },
            async check(e){
                const impPag = document.querySelectorAll('td.ImportePagado')                            
                const crea = "createPago" == window.location.pathname.split('/').find((el) => el =="createPago") ? true : false
                let suma = 0

                //console.log(id_Monto.value)
                impPag.forEach((ele)=>{
                    suma += parseFloat(ele.innerText)
                    //console.log(parseFloat(ele.innerText))
                })
                //console.log(suma)                
                //console.log('crea ',crea)
                if (!crea){
                    if (suma ==0 || suma < id_Monto.value ){
                        alert('la suma de los DR es menor al monto del Pago. \n\r Favor agrega al menos un documento relacionado')
                        e.preventDefault()
                        return
                    }
                }       
                document.getElementById('alert').removeAttribute("style")                
            },
            async dr(dr_id){
                console.log('dr method')
                let response = await sendRequest(`/compPagos/updatePago/${dr_id}`, 'get')
                let resolve =  Promise.resolve(response)
                resolve.then(res=> {
                    return res.json()
                })
                .then(data=>{
                    const el = data['res'][0]
                    //console.log(el)
                    const form = document.getElementById("form"+dr_id)
                    
                    form.id_IdDocumento.value= el.IdDocumento
                    form.id_Serie.value = el.Serie
                    form.Folio.value = el.Folio
                    form.MonedaDR.value=el.MonedaDR
                    form.EquivalenciaDR.value= el.EquivalenciaDR
                    form.NumParcialidad.value= el.NumParcialidad
                    form.ImpSaldoAnt.value= el.ImpSaldoAnt
                    form.ImpPagado.value= el.ImpPagado
                    form.ImpSaldoInsoluto.value=el.ImpSaldoInsoluto
                })
            }
        },
    })
    app.mount('#app')
</script>
{% endblock scripts %}

