{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock title %}


{% block content %}
<div id="app" v-cloak>
    <br>
    <div class="row">
        <a class="btn btn-primary" href="{% url 'cliente_create' %}">Crear Cliente</a>
    </div>
    
    <hr>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-dark">            
                <tr>
                    <th scope="col">clave</th>
                    <th >RFC</th>
                    <th >Nombre</th>                
                </tr>
            </thead>
            <tbody>        
                {% for cliente in object_list %}
                    <tr>  
                        <th scope="row">{{cliente.clave}}</th>
                        <th >{{cliente.RFC}}</th>
                        <th >{{cliente.Nombre}}</th>
                        <td><a href="{% url 'cliente_update' cliente.id %}"><button class="btn btn-outline-primary">Editar</button></a></td>
                        <td><button id="delete-btn" class="btn btn-danger not-visible" @click="get_clave({{cliente.id}}, '{{cliente.Nombre}}')" data-bs-toggle="modal" data-bs-target="#deleteModal">delete</button></td>                    
                    </tr>           
                {% endfor %}        
            </tbody>
        </table>
    </div>
<!--modal delete -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete Cliente:  <b>[[ nombre ]]</b> ?
            </div>
            <div class="modal-footer">
                <form id="delete-form" :action="[[ id ]]" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit"  class="btn btn-success">delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock content %}
{% block scripts %}


<script>
    
    
    
    Vue.createApp({
        el:'#app',
        delimiters:['[[',']]'],
        
        data(){
            return {
                nombre: '',
                id:'',
            }
        },
        mounted() {
            
        },
        methods: {
            async get_clave(id, nombre){
                this.nombre = nombre
                this.id = `Clientes/delete/${id}/cliente/`
                console.log(this.id, this.nombre)
            }
        },
    }).mount('#app')
</script>
{% endblock scripts %}
    